<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <body>
  <style>
    table,tr,td,th{border:1px solid black; padding:10px;}
  </style>

  <div class="container-fluid">
    <div class="container"style="margin-top: 20px;">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><h1 style="text-align: center; margin-top:50px;margin-bottom:50px;"><%= title %></h1></div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary" onclick="signOut()">로그아웃</button>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
    <table style="width: 900px; margin-left:50px;">
      <tr>
        <th style="width: 80px; text-align: center">postid</th>
        <th style="width: 80px; text-align: center">userid</th>
        <th style="width: 120px; text-align: center">nickname</th>
        <th style="width: 340px; text-align: center">title</th>
        <th style="width: 80px; text-align: center">likes</th>
        <th style="width: 120px; text-align: center">createdDate</th>
      </tr>
      <%for (let i=0; i<board.length; i++){%>
        <tr>
          <td style="width: 80px; text-align: center"><%=board[i].dataValues.postId%></td>
          <td style="width: 80px; text-align: center"><%=board[i].dataValues.userId%></td>
          <td style="width: 120px; text-align: center"><%=board[i].dataValues.nickname%></td>
          <td style="width: 34px; text-align: center"><a href="/posts/<%=board[i].dataValues.postId%>"><%=board[i].dataValues.title%></a></td>
          <td style="width: 80px; text-align: center"><%=board[i].dataValues.likes%></td>
          <td style="width: 120px; text-align: center"><%=board[i].dataValues.createdAt.toISOString().substring(0,10).replaceAll("-",".")%></td>
        </tr>
      <%}%>
    </table>
          <div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="row" style="margin-top:50px;">
          <div class="col-md-4">

          </div>
          <div class="col-md-6">
            <button type="button"style="margin-top:40px; width:150px;height:50px; margin-right:30px;"  class="btn btn-primary" onclick=location.href='boardWrite.html'>글 쓰기</button>
            <button type="button" style="margin-top:40px; width:150px;height:50px; margin-right:30px;" class="btn btn-info" onclick="location.href='/posts/posts/likes';">좋아요 글 목록</button>
          </div>
          <div class="col-md-2">

          </div>
        </div>



      </div>
    </div>
  </div>
  </body>
</html>
<script>
  function signOut() {
    localStorage.clear();
    window.location.href = "/logout";
  }

  function customAlert(text) {
    $("#alertText").text(text);
    $("#alertModal").modal("show");
  }
</script>